<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITemplateWebservice">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://lop-hhocf-12.ab.com/TemplateService/TemplateService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITemplateWebservice"
                contract="ServiceReference1.ITemplateWebservice" name="WSHttpBinding_ITemplateWebservice" />
        </client>
    </system.serviceModel>
</configuration>